<nav class="navbar navbar-custom navbar-expand-lg ">
  <a class="navbar-brand" href="#">
    <img src="..//assets/images (1).png" width="170px" height="60px" class="d-inline-block align-top" alt=""> 
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li  class="nav-item active">
        <a routerLink="/home" routerLinkActive="active" >HOME</a>
        <a routerLink="/alldevices" routerLinkActive="active">ALL DEVICE</a>
        <a routerLink="/activateddevices" routerLinkActive="active">ACTIVE DEVICE</a>
        <a routerLink="/disconnecteddevice" routerLinkActive="active">DISCONNECT DEVICE</a>
        <a routerLink="/offlinedevices" routerLinkActive="active">OFFLINE DEVICE</a> 
      </li>
    </ul>
  </div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<router-outlet></router-outlet>

  